In [3]:
import pandas as pd

In [4]:
first = pd.read_csv('/dataset/bd_lab_small_sample.csv', dtype = 'unicode')

In [5]:
first.shape

(10184607, 23)

In [42]:
first.head()

,hash_number_A,hash_tariff,event,event_sub,network_service_direction,event_start_date,hash_b_number,number_B_category,cost,call_duration_minutes,...,LON,device_type,phone_price_category,interest_1,interest_2,interest_3,interest_4,interest_5,test_flag,target
0,﻿1001309,45807,network_ser,onnet_voice,Incoming,19JUN17:16:37:02,225968,,0.0000,0.4166666667,...,24.707778541,smartphone,2,Business and economics,News and Media,Hi-Tech,Reference,Home and family,0,0
1,640090,221688,network_ser,onnet_voice,Outgoing,21AUG17:10:48:25,225899,,0.0000,4,...,35.122859331,smartphone,2,,,,,,0,0
2,1117021,223058,network_ser,onnet_voice,Incoming,11AUG17:09:55:56,225941,,0.0000,1.6333333333,...,25.755694444,phone,1,,,,,,0,0
3,2513535,187131,network_ser,onnet_voice,Incoming,13AUG17:12:30:05,225867,,0.0000,0.2666666667,...,23.855278159,smartphone,2,Hi-Tech,Reference,Leisure,Home and family,,0,0
4,1001309,45807,network_ser,onnet_voice,Incoming,19JUL17:08:31:25,225968,,0.0000,11.316666667,...,24.707778541,smartphone,2,Business and economics,News and Media,Hi-Tech,Reference,Home and family,0,0

In [6]:
a = first.loc [:, ("hash_number_A", "event_start_date", "LAT", "LON")]

In [7]:
a.head()

  hash_number_A  event_start_date           LAT           LON
0      ﻿1001309  19JUN17:16:37:02   48.88750178  24.707778541
1        640090  21AUG17:10:48:25   48.42189016  35.122859331
2       1117021  11AUG17:09:55:56  48.434917684  25.755694444
3       2513535  13AUG17:12:30:05  49.258055556  23.855278159
4       1001309  19JUL17:08:31:25   48.88750178  24.707778541

In [8]:
cleared = a.dropna(axis=1, how = 'any')

In [9]:
cleared.shape

(10184607, 4)

In [10]:
cleared = ''

In [11]:
cleared

''

In [ ]:
cleared = 49.94 < float(a["LAT"]) > 49.74

In [19]:
cleared

''

In [28]:
a = pd.to_numeric(a["LAT"], errors='coerce')

In [30]:
a = first.loc [:, ("hash_number_A", "event_start_date", "LAT", "LON")]

In [31]:
a.shape

(10184607, 4)

In [32]:
a.head()

  hash_number_A  event_start_date           LAT           LON
0      ﻿1001309  19JUN17:16:37:02   48.88750178  24.707778541
1        640090  21AUG17:10:48:25   48.42189016  35.122859331
2       1117021  11AUG17:09:55:56  48.434917684  25.755694444
3       2513535  13AUG17:12:30:05  49.258055556  23.855278159
4       1001309  19JUL17:08:31:25   48.88750178  24.707778541

In [14]:
a.LAT = pd.to_numeric(a.LAT, errors='coerse')

In [16]:
cleared = a[a["LAT"] > 49.74]

In [17]:
cleared = cleared[cleared["LAT"] < 49.94]

In [19]:
cleared.LON = pd.to_numeric(cleared.LON, errors='coerse')

In [20]:
cleared = cleared[cleared["LON"] < 24.13]

In [21]:
cleared = cleared[cleared["LON"] > 23.93]

In [22]:
cleared

         hash_number_A  event_start_date        LAT        LON
180            2623046  01AUG17:20:16:13  49.808610  24.017222
194            2480764  10AUG17:15:21:56  49.797944  23.987222
210            2480764  02JUN17:20:09:31  49.811777  23.990972
212             619074  10AUG17:16:58:52  49.808610  24.017222
218            1077431  29JUL17:23:11:58  49.835277  24.035277
220             272740  07JUN17:14:17:32  49.844221  24.024389
246            2480764  01JUN17:16:16:28  49.809444  23.997778
247            2480764  11JUN17:20:19:34  49.811777  23.990972
282             653381  01JUL17:19:30:33  49.808610  24.017222
285            2623046  02AUG17:21:50:06  49.808610  24.017222
314            2480764  02JUN17:20:08:51  49.802999  24.000194
315            2480764  11JUN17:20:19:25  49.811777  23.990972
316            2480764  10AUG17:19:16:15  49.802999  24.000194
317            2480764  10AUG17:19:39:34  49.802999  24.000194
321            1737955  18JUL17:13:10:30  49.818055  23.959167
385             653381  01JUL17:18:53:03  49.808610  24.017222
391             653381  01JUL17:20:16:45  49.808610  24.017222
393            2623046  24JUN17:11:01:24  49.808610  24.017222
394            2623046  21AUG17:21:38:02  49.808610  24.017222
452            2480764  02JUN17:11:27:58  49.839999  24.029722
453            2480764  02JUN17:09:16:04  49.809444  23.997778
455            2480764  11JUN17:12:36:12  49.811777  23.990972
456            2480764  11JUN17:15:01:12  49.811777  23.990972
457            2480764  10AUG17:17:12:04  49.832305  24.037666
458            2480764  10AUG17:19:13:17  49.802999  24.000194
460             619074  10AUG17:16:58:57  49.808610  24.017222
488            1886984  16AUG17:21:28:16  49.811388  23.973889
504             790959  26AUG17:18:48:48  49.844221  24.024389
510             619074  10AUG17:17:07:00  49.808610  24.017222
514            2439052  01JUN17:13:00:12  49.830999  24.017028
...                ...               ...        ...        ...
10181155       1057589  19JUN17:01:21:36  49.818055  23.959167
10181206        245313  19JUN17:14:19:22  49.818055  23.959167
10181277       1057589  19JUN17:01:21:36  49.818055  23.959167
10181279       1057589  19JUN17:01:21:33  49.818055  23.959167
10181280       1057589  19JUN17:01:21:39  49.818055  23.959167
10181281       1057589  19JUN17:01:21:34  49.818055  23.959167
10181419       1057589  19JUN17:01:21:39  49.818055  23.959167
10181422       1057589  19JUN17:01:21:38  49.818055  23.959167
10181425       1057589  19JUN17:01:21:34  49.818055  23.959167
10181427       1057589  19JUN17:01:21:37  49.818055  23.959167
10181429       1057589  19JUN17:01:21:35  49.818055  23.959167
10181431       1057589  19JUN17:01:21:40  49.818055  23.959167
10181432       1057589  19JUN17:01:21:38  49.818055  23.959167
10181433       1057589  19JUN17:01:21:35  49.818055  23.959167
10181434       1057589  19JUN17:01:21:34  49.818055  23.959167
10181439        245313  19JUN17:14:19:20  49.818055  23.959167
10182659       1774614  04AUG17:15:56:18  49.829360  24.071084
10182660       1774614  04AUG17:15:56:14  49.829360  24.071084
10184279        996133  17AUG17:13:08:15  49.808610  24.017222
10184294        996133  17AUG17:13:08:16  49.808610  24.017222
10184295        996133  17AUG17:13:08:15  49.808610  24.017222
10184361       1121196  28JUL17:15:29:24  49.814999  24.037777
10184438       1121196  11JUL17:14:48:41  49.814999  24.037777
10184439       1121196  11JUL17:14:48:43  49.814999  24.037777
10184469       2478635  19AUG17:00:54:18  49.834999  23.994445
10184470       2551054  19AUG17:10:15:29  49.841665  23.981667
10184483       2551054  19AUG17:10:15:30  49.841665  23.981667
10184495       2551054  14AUG17:23:49:12  49.841665  23.981667
10184511       1121196  11JUL17:14:48:38  49.814999  24.037777
10184564       1121196  19JUN17:15:52:23  49.814999  24.037777

[377487 rows x 4 columns]

In [23]:
cleared.hash_number_A.value_counts()

1155152    6739
981773     6264
2640061    4778
1020788    3997
653381     3321
2798136    2977
505461     2807
1708433    2782
474180     2763
2504858    2729
205284     2711
272740     2690
2027489    2619
351667     2478
593880     2409
2696997    2292
2575018    2248
822668     2230
2717623    2203
1600878    2179
1059106    2168
1836320    2155
1102287    2144
614546     2144
901059     2141
884024     2132
1201591    2075
419452     2065
448465     1994
2754511    1977
           ...
2437181       1
1599653       1
672249        1
1669057       1
777226        1
1674382       1
908958        1
2816069       1
1620975       1
802099        1
1786110       1
1155032       1
663583        1
1073090       1
1131040       1
1957559       1
1664797       1
477117        1
2508518       1
191017        1
919677        1
2533241       1
961445        1
254691        1
2605170       1
676726        1
2745514       1
1954292       1
1028398       1
2533496       1
Name: hash_number_A, dtype: int64

In [24]:
cleared.hash_number_A.nunique()

2089

In [25]:
a.hash_number_A.nunique()

9996

In [26]:
cleared_IF = a[a["LAT"] > 48.82]

In [27]:
cleared_IF = cleared_IF[cleared_IF["LAT"] < 49.02]

In [28]:
cleared_IF.LON = pd.to_numeric(cleared_IF.LON, errors='coerse')

In [29]:
cleared_IF = cleared_IF[cleared_IF["LON"] < 24.81]

In [30]:
cleared_IF = cleared_IF[cleared_IF["LON"] > 24.61]

In [31]:
cleared_IF

         hash_number_A  event_start_date        LAT        LON
0             ﻿1001309  19JUN17:16:37:02  48.887502  24.707779
4              1001309  19JUL17:08:31:25  48.887502  24.707779
7               558421  22JUL17:13:37:02  48.935279  24.710279
8               236143  26JUN17:21:14:02  48.927251  24.735028
9              1001309  21JUN17:11:55:22  48.887502  24.707779
10             1001309  25JUN17:10:21:06  48.915835  24.697221
11             1918596  15AUG17:15:03:45  48.944723  24.700834
16              236143  02AUG17:15:38:08  48.927251  24.735028
17             1001309  13JUN17:15:43:19  48.887502  24.707779
18             1001309  09JUN17:17:39:54  48.887502  24.707779
19             1001309  16JUN17:10:56:56  48.887502  24.707779
20             1001309  03JUL17:22:54:09  48.887502  24.707779
21             1001309  05JUL17:11:20:50  48.909196  24.713417
23              652931  09JUN17:12:16:11  48.918335  24.711667
31             1001309  11JUN17:20:08:26  48.887502  24.707779
32             1001309  05JUN17:20:03:45  48.887502  24.707779
33             1001309  03JUN17:10:32:18  48.887502  24.707779
34             1001309  18JUN17:20:14:33  48.887502  24.707779
35             1001309  23JUN17:08:44:34  48.887502  24.707779
36             1001309  05JUL17:11:20:42  48.887502  24.707779
38             1001309  09AUG17:18:05:58  48.920279  24.702779
39             1001309  23JUN17:08:52:40  48.887502  24.707779
43             2484006  02AUG17:14:52:22  48.929779  24.708667
44             2631232  30AUG17:12:17:05  48.916946  24.709723
57              558421  22JUL17:14:02:05  48.935279  24.710279
59              236143  24JUL17:14:14:05  48.931112  24.748889
61             1001309  15JUN17:17:44:41  48.887502  24.707779
62             1001309  13JUN17:21:33:30  48.887502  24.707779
63             1001309  21JUN17:09:11:58  48.887502  24.707779
64             1001309  21JUN17:09:08:37  48.887502  24.707779
...                ...               ...        ...        ...
10179177       1603525  14AUG17:12:28:34  48.911668  24.726667
10179180       2788152  14AUG17:11:26:18  48.908057  24.694444
10179188       2788152  13AUG17:11:26:50  48.901668  24.687221
10179202       2788152  16AUG17:11:22:05  48.980834  24.707779
10179215       2788152  15AUG17:11:54:00  48.980834  24.707779
10180561       1049890  27AUG17:21:31:58  48.874998  24.711112
10180595       1049890  27AUG17:21:31:27  48.874998  24.711112
10180650       1049890  27AUG17:21:20:32  48.843054  24.723612
10180760       1049890  27AUG17:21:38:14  48.843054  24.723612
10180761       1049890  27AUG17:21:38:11  48.843054  24.723612
10180981       1049890  27AUG17:21:31:40  48.874998  24.711112
10180982       1049890  27AUG17:21:25:51  48.874998  24.711112
10180983       1049890  27AUG17:21:38:09  48.843054  24.723612
10180984       1049890  27AUG17:21:38:04  48.843054  24.723612
10184346       1049054  28JUL17:12:37:00  48.908057  24.694444
10184347       1120749  28JUL17:20:01:09  48.916946  24.709723
10184348        525826  28JUL17:10:40:19  48.933890  24.701112
10184358        678196  28JUL17:15:57:07  48.938390  24.752250
10184359        605345  28JUL17:12:24:34  48.930001  24.727778
10184372       1820978  28JUL17:16:45:20  48.902946  24.705556
10184396        188951  28JUL17:12:56:22  48.929779  24.708667
10184398       2577256  28JUL17:12:56:23  48.922779  24.711667
10184452       2806646  07AUG17:21:31:05  48.916946  24.709723
10184459        550814  18AUG17:16:59:18  48.931112  24.748889
10184461        550814  18AUG17:16:59:15  48.931112  24.748889
10184492        550814  18AUG17:16:59:08  48.931112  24.748889
10184578        605345  06JUL17:18:43:10  48.911668  24.726667
10184594        525826  10JUL17:13:42:53  48.933890  24.701112
10184595        525826  10JUL17:13:42:43  48.933890  24.701112
10184596        525826  10JUL17:13:42:51  48.933890  24.701112

[892900 rows x 4 columns]

In [32]:
cleared_IF.hash_number_A.nunique()

1590

In [33]:
cleared_ter = a[a["LAT"] > 49.45]

In [34]:
cleared_ter = cleared_ter[cleared_ter["LAT"] < 49.65]

In [36]:
cleared_ter.LON = pd.to_numeric(cleared_ter.LON, errors='coerse')

In [37]:
cleared_ter = cleared_ter[cleared_ter["LON"] < 25.68]

In [38]:
cleared_ter = cleared_ter[cleared_ter["LON"] > 25.48]

In [39]:
cleared_ter

         hash_number_A  event_start_date        LAT        LON
796             646296  12JUL17:11:36:13  49.555555  25.591667
1373            174549  04AUG17:10:42:11  49.557221  25.634444
1374           2018489  29AUG17:15:59:35  49.553888  25.609723
1385           2018489  11AUG17:10:55:54  49.543333  25.607500
1393            174549  14AUG17:22:17:07  49.557221  25.634444
1423            174549  20AUG17:13:12:10  49.543333  25.607500
1456            174549  22AUG17:13:13:53  49.545555  25.591667
1518            174549  27AUG17:18:05:55  49.557221  25.634444
1520            174549  06AUG17:10:10:12  49.543333  25.607500
1559           2018489  16AUG17:15:35:04  49.551110  25.620278
1589            174549  20AUG17:13:14:53  49.545555  25.591667
1591            174549  18AUG17:14:03:14  49.543333  25.607500
1628            409655  17AUG17:13:13:30  49.562499  25.611111
1667            409655  17AUG17:15:00:46  49.543611  25.564721
1750            409655  06JUN17:12:21:19  49.544444  25.620833
1776            409655  27JUN17:18:17:37  49.551527  25.593028
1777            409655  27JUN17:18:16:18  49.543333  25.607500
1884            409655  24AUG17:14:03:05  49.529166  25.603611
1946            409655  25JUL17:10:57:29  49.535555  25.623500
1947            409655  27JUN17:18:15:15  49.549638  25.602584
2095            409655  08JUN17:20:15:40  49.544444  25.620833
2100            409655  17AUG17:15:13:35  49.544444  25.620833
2104            409655  20JUL17:15:35:54  49.535555  25.623500
2116            409655  19JUL17:18:12:55  49.535555  25.623500
2133            409655  27JUL17:16:42:30  49.535555  25.623500
2137            409655  30JUN17:19:23:22  49.548611  25.644805
2138            409655  24JUL17:10:28:46  49.545555  25.591667
2139            409655  12JUL17:13:44:05  49.535555  25.623500
2175            409655  31AUG17:10:16:03  49.535555  25.623500
2176            409655  25JUL17:18:28:20  49.535555  25.623500
...                ...               ...        ...        ...
10172735       1165735  18AUG17:13:33:33  49.554083  25.556555
10172743        536744  17AUG17:09:57:54  49.549638  25.602584
10172747        536744  17AUG17:09:59:07  49.549638  25.602584
10172783        536744  18AUG17:12:40:46  49.475278  25.627222
10172861        536744  17AUG17:09:59:02  49.549638  25.602584
10172866        536744  17AUG17:09:58:00  49.549638  25.602584
10172872        536744  17AUG17:09:57:46  49.549638  25.602584
10172882       1165735  18AUG17:13:31:43  49.544999  25.560277
10172908       1165735  18AUG17:13:31:58  49.544999  25.560277
10172932        536744  18AUG17:12:41:03  49.475278  25.627222
10172960        536744  18AUG17:12:42:09  49.475278  25.627222
10172998       1165735  18AUG17:13:33:24  49.554083  25.556555
10173001       1165735  18AUG17:13:31:52  49.544999  25.560277
10173079       1622927  04AUG17:20:17:32  49.544444  25.620833
10173109       1622927  04AUG17:20:16:20  49.544444  25.620833
10173217       1622927  04AUG17:20:16:27  49.544444  25.620833
10173220       1622927  04AUG17:20:18:44  49.544444  25.620833
10173392       1622927  04AUG17:20:18:52  49.544444  25.620833
10173394       1622927  04AUG17:20:17:38  49.544444  25.620833
10176040       1191828  19JUL17:14:07:41  49.569166  25.594723
10176120       1191828  19JUL17:14:05:24  49.569166  25.594723
10176261       1191828  19JUL17:14:07:47  49.569166  25.594723
10176286       1191828  19JUL17:14:06:38  49.569166  25.594723
10176302       1191828  19JUL17:14:05:18  49.569166  25.594723
10176331       1191828  19JUL17:14:06:27  49.569166  25.594723
10176353       1191828  19JUL17:14:06:33  49.569166  25.594723
10178844       1057589  24AUG17:09:25:48  49.555555  25.619445
10179080       1057589  23AUG17:09:41:14  49.555555  25.619445
10184278       1678558  16JUL17:18:10:10  49.544999  25.552499
10184399        646296  28JUL17:13:24:55  49.544999  25.560277

[79665 rows x 4 columns]

In [40]:
cleared_ter.hash_number_A.nunique()

574

In [43]:
cleared.event_start_date = pd.to_datetime(cleared.event_start_date, format='%d%b%y:%H:%M:%S')

In [44]:
cleared

         hash_number_A    event_start_date        LAT        LON
180            2623046 2017-08-01 20:16:13  49.808610  24.017222
194            2480764 2017-08-10 15:21:56  49.797944  23.987222
210            2480764 2017-06-02 20:09:31  49.811777  23.990972
212             619074 2017-08-10 16:58:52  49.808610  24.017222
218            1077431 2017-07-29 23:11:58  49.835277  24.035277
220             272740 2017-06-07 14:17:32  49.844221  24.024389
246            2480764 2017-06-01 16:16:28  49.809444  23.997778
247            2480764 2017-06-11 20:19:34  49.811777  23.990972
282             653381 2017-07-01 19:30:33  49.808610  24.017222
285            2623046 2017-08-02 21:50:06  49.808610  24.017222
314            2480764 2017-06-02 20:08:51  49.802999  24.000194
315            2480764 2017-06-11 20:19:25  49.811777  23.990972
316            2480764 2017-08-10 19:16:15  49.802999  24.000194
317            2480764 2017-08-10 19:39:34  49.802999  24.000194
321            1737955 2017-07-18 13:10:30  49.818055  23.959167
385             653381 2017-07-01 18:53:03  49.808610  24.017222
391             653381 2017-07-01 20:16:45  49.808610  24.017222
393            2623046 2017-06-24 11:01:24  49.808610  24.017222
394            2623046 2017-08-21 21:38:02  49.808610  24.017222
452            2480764 2017-06-02 11:27:58  49.839999  24.029722
453            2480764 2017-06-02 09:16:04  49.809444  23.997778
455            2480764 2017-06-11 12:36:12  49.811777  23.990972
456            2480764 2017-06-11 15:01:12  49.811777  23.990972
457            2480764 2017-08-10 17:12:04  49.832305  24.037666
458            2480764 2017-08-10 19:13:17  49.802999  24.000194
460             619074 2017-08-10 16:58:57  49.808610  24.017222
488            1886984 2017-08-16 21:28:16  49.811388  23.973889
504             790959 2017-08-26 18:48:48  49.844221  24.024389
510             619074 2017-08-10 17:07:00  49.808610  24.017222
514            2439052 2017-06-01 13:00:12  49.830999  24.017028
...                ...                 ...        ...        ...
10181155       1057589 2017-06-19 01:21:36  49.818055  23.959167
10181206        245313 2017-06-19 14:19:22  49.818055  23.959167
10181277       1057589 2017-06-19 01:21:36  49.818055  23.959167
10181279       1057589 2017-06-19 01:21:33  49.818055  23.959167
10181280       1057589 2017-06-19 01:21:39  49.818055  23.959167
10181281       1057589 2017-06-19 01:21:34  49.818055  23.959167
10181419       1057589 2017-06-19 01:21:39  49.818055  23.959167
10181422       1057589 2017-06-19 01:21:38  49.818055  23.959167
10181425       1057589 2017-06-19 01:21:34  49.818055  23.959167
10181427       1057589 2017-06-19 01:21:37  49.818055  23.959167
10181429       1057589 2017-06-19 01:21:35  49.818055  23.959167
10181431       1057589 2017-06-19 01:21:40  49.818055  23.959167
10181432       1057589 2017-06-19 01:21:38  49.818055  23.959167
10181433       1057589 2017-06-19 01:21:35  49.818055  23.959167
10181434       1057589 2017-06-19 01:21:34  49.818055  23.959167
10181439        245313 2017-06-19 14:19:20  49.818055  23.959167
10182659       1774614 2017-08-04 15:56:18  49.829360  24.071084
10182660       1774614 2017-08-04 15:56:14  49.829360  24.071084
10184279        996133 2017-08-17 13:08:15  49.808610  24.017222
10184294        996133 2017-08-17 13:08:16  49.808610  24.017222
10184295        996133 2017-08-17 13:08:15  49.808610  24.017222
10184361       1121196 2017-07-28 15:29:24  49.814999  24.037777
10184438       1121196 2017-07-11 14:48:41  49.814999  24.037777
10184439       1121196 2017-07-11 14:48:43  49.814999  24.037777
10184469       2478635 2017-08-19 00:54:18  49.834999  23.994445
10184470       2551054 2017-08-19 10:15:29  49.841665  23.981667
10184483       2551054 2017-08-19 10:15:30  49.841665  23.981667
10184495       2551054 2017-08-14 23:49:12  49.841665  23.981667
10184511       1121196 2017-07-11 14:48:38  49.814999  24.037777
10184564       1121196 2017-06-19 15:52:23  49.814999  24.037777

[377487 rows x 4 columns]

In [ ]:
print(cleared.event_start_date.min())
print(cleared.event_start_date.max())

In [51]:
print(cleared.event_start_date.min())
print(cleared.event_start_date.max())

2017-06-01 00:00:00
2017-08-31 23:59:20

In [53]:
cleared['time_hour']=cleared['event_start_date'].dt.hour

In [54]:
cleared

         hash_number_A    event_start_date        LAT        LON  time_hour
180            2623046 2017-08-01 20:16:13  49.808610  24.017222         20
194            2480764 2017-08-10 15:21:56  49.797944  23.987222         15
210            2480764 2017-06-02 20:09:31  49.811777  23.990972         20
212             619074 2017-08-10 16:58:52  49.808610  24.017222         16
218            1077431 2017-07-29 23:11:58  49.835277  24.035277         23
220             272740 2017-06-07 14:17:32  49.844221  24.024389         14
246            2480764 2017-06-01 16:16:28  49.809444  23.997778         16
247            2480764 2017-06-11 20:19:34  49.811777  23.990972         20
282             653381 2017-07-01 19:30:33  49.808610  24.017222         19
285            2623046 2017-08-02 21:50:06  49.808610  24.017222         21
314            2480764 2017-06-02 20:08:51  49.802999  24.000194         20
315            2480764 2017-06-11 20:19:25  49.811777  23.990972         20
316            2480764 2017-08-10 19:16:15  49.802999  24.000194         19
317            2480764 2017-08-10 19:39:34  49.802999  24.000194         19
321            1737955 2017-07-18 13:10:30  49.818055  23.959167         13
385             653381 2017-07-01 18:53:03  49.808610  24.017222         18
391             653381 2017-07-01 20:16:45  49.808610  24.017222         20
393            2623046 2017-06-24 11:01:24  49.808610  24.017222         11
394            2623046 2017-08-21 21:38:02  49.808610  24.017222         21
452            2480764 2017-06-02 11:27:58  49.839999  24.029722         11
453            2480764 2017-06-02 09:16:04  49.809444  23.997778          9
455            2480764 2017-06-11 12:36:12  49.811777  23.990972         12
456            2480764 2017-06-11 15:01:12  49.811777  23.990972         15
457            2480764 2017-08-10 17:12:04  49.832305  24.037666         17
458            2480764 2017-08-10 19:13:17  49.802999  24.000194         19
460             619074 2017-08-10 16:58:57  49.808610  24.017222         16
488            1886984 2017-08-16 21:28:16  49.811388  23.973889         21
504             790959 2017-08-26 18:48:48  49.844221  24.024389         18
510             619074 2017-08-10 17:07:00  49.808610  24.017222         17
514            2439052 2017-06-01 13:00:12  49.830999  24.017028         13
...                ...                 ...        ...        ...        ...
10181155       1057589 2017-06-19 01:21:36  49.818055  23.959167          1
10181206        245313 2017-06-19 14:19:22  49.818055  23.959167         14
10181277       1057589 2017-06-19 01:21:36  49.818055  23.959167          1
10181279       1057589 2017-06-19 01:21:33  49.818055  23.959167          1
10181280       1057589 2017-06-19 01:21:39  49.818055  23.959167          1
10181281       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10181419       1057589 2017-06-19 01:21:39  49.818055  23.959167          1
10181422       1057589 2017-06-19 01:21:38  49.818055  23.959167          1
10181425       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10181427       1057589 2017-06-19 01:21:37  49.818055  23.959167          1
10181429       1057589 2017-06-19 01:21:35  49.818055  23.959167          1
10181431       1057589 2017-06-19 01:21:40  49.818055  23.959167          1
10181432       1057589 2017-06-19 01:21:38  49.818055  23.959167          1
10181433       1057589 2017-06-19 01:21:35  49.818055  23.959167          1
10181434       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10181439        245313 2017-06-19 14:19:20  49.818055  23.959167         14
10182659       1774614 2017-08-04 15:56:18  49.829360  24.071084         15
10182660       1774614 2017-08-04 15:56:14  49.829360  24.071084         15
10184279        996133 2017-08-17 13:08:15  49.808610  24.017222         13
10184294        996133 2017-08-17 13:08:16  49.808610  24.017222         13
10184295        996133 2017-08-17 13:08:15  49.808610  24.017222         13
10184361       1121196 2017-07-28 15:29:24  49.814999  24.037777         15
10184438       1121196 2017-07-11 14:48:41  49.814999  24.037777         14
10184439       1121196 2017-07-11 14:48:43  49.814999  24.037777         14
10184469       2478635 2017-08-19 00:54:18  49.834999  23.994445          0
10184470       2551054 2017-08-19 10:15:29  49.841665  23.981667         10
10184483       2551054 2017-08-19 10:15:30  49.841665  23.981667         10
10184495       2551054 2017-08-14 23:49:12  49.841665  23.981667         23
10184511       1121196 2017-07-11 14:48:38  49.814999  24.037777         14
10184564       1121196 2017-06-19 15:52:23  49.814999  24.037777         15

[377487 rows x 5 columns]

In [59]:
cleared_night = cleared[cleared["time_hour"] >= 23]

In [60]:
cleared_night = cleared[cleared["time_hour"] < 7]

In [61]:
cleared_night

         hash_number_A    event_start_date        LAT        LON  time_hour
1989            973296 2017-06-25 01:00:52  49.789999  24.057499          1
11153          2794861 2017-06-28 06:23:11  49.836943  24.022778          6
11234          2490124 2017-08-31 06:16:08  49.872832  24.040527          6
11349          1193945 2017-07-20 02:18:36  49.826943  23.984722          2
11388          2754516 2017-06-19 00:10:06  49.786666  24.016111          0
11460          2754516 2017-06-19 00:08:11  49.794166  24.023889          0
12011           995776 2017-08-13 03:46:42  49.826943  23.984722          3
12012           995776 2017-08-13 03:47:44  49.821388  23.994167          3
15142          1132745 2017-06-13 00:07:58  49.835304  24.008889          0
15199          1132745 2017-06-16 06:31:35  49.823610  24.015000          6
15202          1132745 2017-06-02 05:58:30  49.823610  24.015000          5
15233          1132745 2017-06-23 06:58:57  49.835304  24.008889          6
15315          1132745 2017-06-06 05:59:04  49.835832  24.001972          5
15316          1132745 2017-06-06 00:05:42  49.835304  24.008889          0
15319          1132745 2017-06-16 06:30:18  49.835304  24.008889          6
15325          1132745 2017-06-17 06:01:45  49.823610  24.015000          6
15332          1132745 2017-06-02 00:01:38  49.835832  24.001972          0
15349          1132745 2017-06-12 05:51:36  49.835304  24.008889          5
15351          1132745 2017-06-12 00:08:59  49.835304  24.008889          0
15389          1132745 2017-06-23 06:56:34  49.835304  24.008889          6
15396          1132745 2017-06-23 06:29:53  49.835832  24.001972          6
15408          1132745 2017-06-22 00:24:16  49.835304  24.008889          0
18936           636989 2017-08-19 01:56:05  49.774444  24.124445          1
19763          2679641 2017-06-22 04:51:21  49.851387  24.025555          4
38747          1867456 2017-08-06 00:29:02  49.834999  23.994445          0
51930          1174455 2017-06-13 05:49:59  49.808610  24.017222          5
58272          2798147 2017-07-25 06:49:02  49.812777  24.071390          6
58325          2571643 2017-08-20 00:08:20  49.834999  24.043888          0
62392           642679 2017-07-15 00:34:22  49.834999  23.994445          0
68199           814882 2017-07-23 00:45:20  49.836943  24.022778          0
...                ...                 ...        ...        ...        ...
10172275       2591651 2017-08-06 06:00:35  49.829360  24.071084          6
10172360       2591651 2017-08-06 06:00:42  49.829360  24.071084          6
10172362       2591651 2017-08-06 06:02:14  49.829360  24.071084          6
10172366       2591651 2017-08-06 06:01:48  49.829360  24.071084          6
10172473       2591651 2017-08-06 06:03:20  49.829360  24.071084          6
10172474       2591651 2017-08-06 06:01:58  49.829360  24.071084          6
10172477       2591651 2017-08-06 06:02:06  49.829360  24.071084          6
10176423       1170998 2017-07-18 06:03:21  49.834999  23.994445          6
10176524       1170998 2017-07-18 06:03:15  49.834999  23.994445          6
10176528       1170998 2017-07-18 06:02:05  49.834999  23.994445          6
10176545       1170998 2017-07-18 06:04:40  49.834999  23.994445          6
10176671       1170998 2017-07-18 06:03:27  49.834999  23.994445          6
10176710       1170998 2017-07-18 06:03:33  49.834999  23.994445          6
10176711       1170998 2017-07-18 06:02:11  49.834999  23.994445          6
10176895       1170998 2017-07-18 06:04:35  49.834999  23.994445          6
10181155       1057589 2017-06-19 01:21:36  49.818055  23.959167          1
10181277       1057589 2017-06-19 01:21:36  49.818055  23.959167          1
10181279       1057589 2017-06-19 01:21:33  49.818055  23.959167          1
10181280       1057589 2017-06-19 01:21:39  49.818055  23.959167          1
10181281       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10181419       1057589 2017-06-19 01:21:39  49.818055  23.959167          1
10181422       1057589 2017-06-19 01:21:38  49.818055  23.959167          1
10181425       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10181427       1057589 2017-06-19 01:21:37  49.818055  23.959167          1
10181429       1057589 2017-06-19 01:21:35  49.818055  23.959167          1
10181431       1057589 2017-06-19 01:21:40  49.818055  23.959167          1
10181432       1057589 2017-06-19 01:21:38  49.818055  23.959167          1
10181433       1057589 2017-06-19 01:21:35  49.818055  23.959167          1
10181434       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10184469       2478635 2017-08-19 00:54:18  49.834999  23.994445          0

[21327 rows x 5 columns]

In [62]:
cleared_night.hash_number_A.nunique()

732

In [64]:
cleared_night_23_24 = cleared_night[cleared_night["time_hour"] == 23]

In [65]:
cleared_night_23_24

Empty DataFrame
Columns: [hash_number_A, event_start_date, LAT, LON, time_hour]
Index: []

In [66]:
cleared_night = cleared[cleared["time_hour"] > 23]

In [67]:
cleared_night = cleared[cleared["time_hour"] < 7]

In [69]:
cleared_night_23_24 = cleared_night[cleared_night["time_hour"] == 23]

In [70]:
cleared_night_23_24

Empty DataFrame
Columns: [hash_number_A, event_start_date, LAT, LON, time_hour]
Index: []

In [71]:
cleared_night = cleared[cleared["time_hour"] >== 23]

SyntaxError: invalid syntax (<ipython-input-71-8b3767f775e2>, line 1)

In [80]:
cleared_night = cleared[cleared["time_hour"] > 22]

In [81]:
cleared_night = cleared_night[cleared_night["time_hour"] < 7]

In [82]:
cleared_night

Empty DataFrame
Columns: [hash_number_A, event_start_date, LAT, LON, time_hour]
Index: []

In [83]:
cleared

         hash_number_A    event_start_date        LAT        LON  time_hour
180            2623046 2017-08-01 20:16:13  49.808610  24.017222         20
194            2480764 2017-08-10 15:21:56  49.797944  23.987222         15
210            2480764 2017-06-02 20:09:31  49.811777  23.990972         20
212             619074 2017-08-10 16:58:52  49.808610  24.017222         16
218            1077431 2017-07-29 23:11:58  49.835277  24.035277         23
220             272740 2017-06-07 14:17:32  49.844221  24.024389         14
246            2480764 2017-06-01 16:16:28  49.809444  23.997778         16
247            2480764 2017-06-11 20:19:34  49.811777  23.990972         20
282             653381 2017-07-01 19:30:33  49.808610  24.017222         19
285            2623046 2017-08-02 21:50:06  49.808610  24.017222         21
314            2480764 2017-06-02 20:08:51  49.802999  24.000194         20
315            2480764 2017-06-11 20:19:25  49.811777  23.990972         20
316            2480764 2017-08-10 19:16:15  49.802999  24.000194         19
317            2480764 2017-08-10 19:39:34  49.802999  24.000194         19
321            1737955 2017-07-18 13:10:30  49.818055  23.959167         13
385             653381 2017-07-01 18:53:03  49.808610  24.017222         18
391             653381 2017-07-01 20:16:45  49.808610  24.017222         20
393            2623046 2017-06-24 11:01:24  49.808610  24.017222         11
394            2623046 2017-08-21 21:38:02  49.808610  24.017222         21
452            2480764 2017-06-02 11:27:58  49.839999  24.029722         11
453            2480764 2017-06-02 09:16:04  49.809444  23.997778          9
455            2480764 2017-06-11 12:36:12  49.811777  23.990972         12
456            2480764 2017-06-11 15:01:12  49.811777  23.990972         15
457            2480764 2017-08-10 17:12:04  49.832305  24.037666         17
458            2480764 2017-08-10 19:13:17  49.802999  24.000194         19
460             619074 2017-08-10 16:58:57  49.808610  24.017222         16
488            1886984 2017-08-16 21:28:16  49.811388  23.973889         21
504             790959 2017-08-26 18:48:48  49.844221  24.024389         18
510             619074 2017-08-10 17:07:00  49.808610  24.017222         17
514            2439052 2017-06-01 13:00:12  49.830999  24.017028         13
...                ...                 ...        ...        ...        ...
10181155       1057589 2017-06-19 01:21:36  49.818055  23.959167          1
10181206        245313 2017-06-19 14:19:22  49.818055  23.959167         14
10181277       1057589 2017-06-19 01:21:36  49.818055  23.959167          1
10181279       1057589 2017-06-19 01:21:33  49.818055  23.959167          1
10181280       1057589 2017-06-19 01:21:39  49.818055  23.959167          1
10181281       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10181419       1057589 2017-06-19 01:21:39  49.818055  23.959167          1
10181422       1057589 2017-06-19 01:21:38  49.818055  23.959167          1
10181425       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10181427       1057589 2017-06-19 01:21:37  49.818055  23.959167          1
10181429       1057589 2017-06-19 01:21:35  49.818055  23.959167          1
10181431       1057589 2017-06-19 01:21:40  49.818055  23.959167          1
10181432       1057589 2017-06-19 01:21:38  49.818055  23.959167          1
10181433       1057589 2017-06-19 01:21:35  49.818055  23.959167          1
10181434       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10181439        245313 2017-06-19 14:19:20  49.818055  23.959167         14
10182659       1774614 2017-08-04 15:56:18  49.829360  24.071084         15
10182660       1774614 2017-08-04 15:56:14  49.829360  24.071084         15
10184279        996133 2017-08-17 13:08:15  49.808610  24.017222         13
10184294        996133 2017-08-17 13:08:16  49.808610  24.017222         13
10184295        996133 2017-08-17 13:08:15  49.808610  24.017222         13
10184361       1121196 2017-07-28 15:29:24  49.814999  24.037777         15
10184438       1121196 2017-07-11 14:48:41  49.814999  24.037777         14
10184439       1121196 2017-07-11 14:48:43  49.814999  24.037777         14
10184469       2478635 2017-08-19 00:54:18  49.834999  23.994445          0
10184470       2551054 2017-08-19 10:15:29  49.841665  23.981667         10
10184483       2551054 2017-08-19 10:15:30  49.841665  23.981667         10
10184495       2551054 2017-08-14 23:49:12  49.841665  23.981667         23
10184511       1121196 2017-07-11 14:48:38  49.814999  24.037777         14
10184564       1121196 2017-06-19 15:52:23  49.814999  24.037777         15

[377487 rows x 5 columns]

In [84]:
cleared_n = cleared[cleared["time_hour"] > 22]

In [85]:
cleared_n = cleared[(cleared["time_hour"] > 22) & (cleared["time_hour"] < 7)]

In [86]:
cleared_n

Empty DataFrame
Columns: [hash_number_A, event_start_date, LAT, LON, time_hour]
Index: []

In [88]:
cleared_n = cleared[(cleared["time_hour"] > 22) || (cleared["time_hour"] < 7)]

SyntaxError: invalid syntax (<ipython-input-88-8d49c932a835>, line 1)

In [89]:
cleared_n = cleared[cleared["time_hour"] < 7]

In [92]:
cleared_n_0_1 = cleared_n[cleared_n["time_hour"] == 0]

In [93]:
cleared_n_0_1

         hash_number_A    event_start_date        LAT        LON  time_hour
11388          2754516 2017-06-19 00:10:06  49.786666  24.016111          0
11460          2754516 2017-06-19 00:08:11  49.794166  24.023889          0
15142          1132745 2017-06-13 00:07:58  49.835304  24.008889          0
15316          1132745 2017-06-06 00:05:42  49.835304  24.008889          0
15332          1132745 2017-06-02 00:01:38  49.835832  24.001972          0
15351          1132745 2017-06-12 00:08:59  49.835304  24.008889          0
15408          1132745 2017-06-22 00:24:16  49.835304  24.008889          0
38747          1867456 2017-08-06 00:29:02  49.834999  23.994445          0
58325          2571643 2017-08-20 00:08:20  49.834999  24.043888          0
62392           642679 2017-07-15 00:34:22  49.834999  23.994445          0
68199           814882 2017-07-23 00:45:20  49.836943  24.022778          0
102024          847402 2017-06-09 00:48:34  49.841943  24.001944          0
102038          847402 2017-07-10 00:08:56  49.782750  24.072445          0
102047          847402 2017-07-11 00:32:48  49.841943  24.001944          0
102222          847402 2017-07-10 00:04:00  49.782750  24.072445          0
102232          847402 2017-06-24 00:17:50  49.784972  24.060360          0
102239          847402 2017-07-11 00:31:23  49.841943  24.001944          0
106414         2439052 2017-08-04 00:20:23  49.826943  23.984722          0
125649         1020788 2017-08-25 00:00:16  49.866665  23.966945          0
149736         2754516 2017-08-06 00:04:06  49.786666  24.016111          0
156425          419452 2017-07-12 00:22:20  49.818055  23.953890          0
164633          822668 2017-07-11 00:31:52  49.823666  24.048027          0
165197          822668 2017-07-11 00:32:08  49.823666  24.048027          0
172511          884024 2017-06-30 00:46:12  49.840832  24.051944          0
184619         1971686 2017-07-07 00:40:06  49.840277  24.009444          0
184736         1971686 2017-07-07 00:40:03  49.840277  24.009444          0
191151          451274 2017-07-01 00:54:11  49.836388  24.029166          0
205682          831896 2017-08-26 00:57:23  49.811388  23.973889          0
206007          831896 2017-08-26 00:52:08  49.811388  23.973889          0
206008          831896 2017-08-26 00:57:23  49.811388  23.973889          0
...                ...                 ...        ...        ...        ...
9989358         410533 2017-06-26 00:18:52  49.775916  24.023611          0
9989380         410533 2017-06-25 00:34:30  49.775916  24.023611          0
9995211        2561640 2017-06-28 00:34:12  49.832221  23.970834          0
10007968        410533 2017-07-02 00:39:01  49.775916  24.023611          0
10049990       2591651 2017-08-09 00:06:10  49.829360  24.071084          0
10062632       1632358 2017-08-14 00:22:48  49.775916  24.023611          0
10063049       1632358 2017-08-14 00:19:43  49.808888  23.988889          0
10067994       1942192 2017-08-25 00:31:00  49.834999  24.043888          0
10071555       1059304 2017-07-06 00:00:10  49.834999  23.994445          0
10071791       1059304 2017-06-27 00:04:52  49.834999  23.994445          0
10078321        200277 2017-07-08 00:03:37  49.832221  23.970834          0
10084558        410533 2017-06-08 00:02:01  49.775916  24.023611          0
10084702        410533 2017-06-09 00:26:47  49.775916  24.023611          0
10085989        410533 2017-06-07 00:36:54  49.775916  24.023611          0
10092874       1059304 2017-08-30 00:27:39  49.834999  23.994445          0
10103147       2732090 2017-06-30 00:25:28  49.782750  24.072445          0
10104134       2732090 2017-06-30 00:25:08  49.782750  24.072445          0
10104775       2732090 2017-06-30 00:40:42  49.834999  23.994445          0
10114319        557047 2017-07-30 00:13:58  49.816110  24.023889          0
10119109        447352 2017-07-26 00:59:07  49.841943  24.001944          0
10121716        557047 2017-07-29 00:54:12  49.816110  24.023889          0
10136634       2808791 2017-07-18 00:21:47  49.841943  24.001944          0
10141703       1864064 2017-08-29 00:17:06  49.841943  24.031666          0
10145678       2478635 2017-08-19 00:54:32  49.834999  23.994445          0
10152596        822668 2017-08-02 00:51:50  49.823666  24.048027          0
10152872        822668 2017-08-02 00:51:34  49.823666  24.048027          0
10154051       1984025 2017-07-08 00:14:21  49.824166  24.037222          0
10154054       1984025 2017-07-08 00:14:26  49.824166  24.037222          0
10154299       1984025 2017-07-08 00:14:24  49.824166  24.037222          0
10184469       2478635 2017-08-19 00:54:18  49.834999  23.994445          0

[6076 rows x 5 columns]

In [94]:
cleared_n_0_1.hash_number_A.nunique()

443

In [95]:
cleared_n_1_2 = cleared_n[cleared_n["time_hour"] == 1]
cleared_n_1_2
cleared_n_1_2.hash_number_A.nunique()

351

In [96]:
cleared_n_1_2

         hash_number_A    event_start_date        LAT        LON  time_hour
1989            973296 2017-06-25 01:00:52  49.789999  24.057499          1
18936           636989 2017-08-19 01:56:05  49.774444  24.124445          1
88267           490377 2017-07-14 01:37:22  49.810833  24.051944          1
149717         2754516 2017-07-23 01:09:50  49.811777  23.990972          1
164188          822668 2017-06-19 01:42:49  49.823666  24.048027          1
164632          822668 2017-07-11 01:29:14  49.823666  24.048027          1
213069         2486451 2017-08-07 01:41:59  49.831110  24.044166          1
227470          981773 2017-08-25 01:50:51  49.835277  24.035277          1
229561         2785301 2017-08-28 01:14:42  49.784972  24.060360          1
234915         2640061 2017-08-25 01:13:58  49.840832  24.051944          1
241936         2818202 2017-08-29 01:45:35  49.824721  23.960001          1
243098         2718509 2017-08-30 01:01:06  49.784972  24.060360          1
278937          996520 2017-08-13 01:48:23  49.794166  24.023889          1
280578         2504858 2017-08-14 01:24:08  49.832305  24.037666          1
281540          996520 2017-08-14 01:36:31  49.794166  24.023889          1
288798         1201591 2017-08-01 01:41:22  49.874443  24.048333          1
288912         1201591 2017-08-01 01:46:54  49.874443  24.048333          1
289077         1201591 2017-08-01 01:46:54  49.874443  24.048333          1
333162          238141 2017-07-18 01:21:31  49.865637  23.930555          1
333277          238141 2017-07-18 01:20:10  49.865637  23.930555          1
333812          238141 2017-07-18 01:21:33  49.865637  23.930555          1
333915          238141 2017-07-18 01:21:28  49.865637  23.930555          1
337148         2673529 2017-07-13 01:00:53  49.782750  24.072445          1
345946          505461 2017-07-01 01:32:23  49.856387  24.076390          1
375098          236557 2017-06-23 01:00:04  49.795277  24.064999          1
375124         1102287 2017-06-23 01:18:44  49.898057  24.091112          1
375350         1102287 2017-06-23 01:18:43  49.898057  24.091112          1
375378         1102287 2017-06-23 01:18:46  49.898057  24.091112          1
377726          205284 2017-06-21 01:26:06  49.841665  24.026666          1
381713         2504858 2017-06-26 01:08:49  49.804721  24.058333          1
...                ...                 ...        ...        ...        ...
9978726         351667 2017-08-07 01:10:45  49.872832  24.040527          1
9980134         644876 2017-06-01 01:40:53  49.832305  24.037666          1
9981830         644876 2017-06-01 01:15:25  49.838054  24.031666          1
9983935         410533 2017-06-17 01:33:55  49.775916  24.023611          1
9986913         410533 2017-06-23 01:15:02  49.775916  24.023611          1
9994765         410533 2017-06-28 01:05:23  49.775916  24.023611          1
10016784        996520 2017-07-30 01:11:16  49.794166  24.023889          1
10047608       2591651 2017-08-08 01:21:17  49.829360  24.071084          1
10052226       2591651 2017-08-06 01:59:28  49.829360  24.071084          1
10054674       2591651 2017-08-07 01:54:45  49.829360  24.071084          1
10085703        410533 2017-06-10 01:03:30  49.775916  24.023611          1
10089057       2575018 2017-07-19 01:23:41  49.808888  23.988889          1
10090302       1059304 2017-06-30 01:44:17  49.834999  23.994445          1
10091031       2575018 2017-08-15 01:31:09  49.808888  23.988889          1
10111482       1648964 2017-06-30 01:10:41  49.901668  23.950556          1
10141861       1864064 2017-08-29 01:00:24  49.841943  24.031666          1
10181155       1057589 2017-06-19 01:21:36  49.818055  23.959167          1
10181277       1057589 2017-06-19 01:21:36  49.818055  23.959167          1
10181279       1057589 2017-06-19 01:21:33  49.818055  23.959167          1
10181280       1057589 2017-06-19 01:21:39  49.818055  23.959167          1
10181281       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10181419       1057589 2017-06-19 01:21:39  49.818055  23.959167          1
10181422       1057589 2017-06-19 01:21:38  49.818055  23.959167          1
10181425       1057589 2017-06-19 01:21:34  49.818055  23.959167          1
10181427       1057589 2017-06-19 01:21:37  49.818055  23.959167          1
10181429       1057589 2017-06-19 01:21:35  49.818055  23.959167          1
10181431       1057589 2017-06-19 01:21:40  49.818055  23.959167          1
10181432       1057589 2017-06-19 01:21:38  49.818055  23.959167          1
10181433       1057589 2017-06-19 01:21:35  49.818055  23.959167          1
10181434       1057589 2017-06-19 01:21:34  49.818055  23.959167          1

[3473 rows x 5 columns]

In [97]:
cleared_n_2_3 = cleared_n[cleared_n["time_hour"] == 2]
cleared_n_2_3
cleared_n_2_3.hash_number_A.nunique()

282

In [98]:
cleared_n_2_3

         hash_number_A    event_start_date        LAT        LON  time_hour
11349          1193945 2017-07-20 02:18:36  49.826943  23.984722          2
141427          418337 2017-06-24 02:59:12  49.816110  24.023889          2
164181          822668 2017-08-12 02:35:20  49.823666  24.048027          2
164346          822668 2017-07-11 02:41:38  49.840832  24.051944          2
165022          822668 2017-08-12 02:35:13  49.823666  24.048027          2
213084         2486451 2017-08-26 02:02:11  49.831110  24.044166          2
234603         2718509 2017-08-25 02:18:51  49.810833  24.051944          2
234759         2718509 2017-08-25 02:18:49  49.810833  24.051944          2
234948         2718509 2017-08-25 02:18:51  49.810833  24.051944          2
235013         2718509 2017-08-25 02:18:45  49.810833  24.051944          2
235936         2815696 2017-08-26 02:32:36  49.824443  23.970556          2
236010         2815696 2017-08-26 02:32:48  49.824443  23.970556          2
236137         2815696 2017-08-26 02:32:43  49.824443  23.970556          2
236168         2815696 2017-08-26 02:32:50  49.824443  23.970556          2
242130         1836320 2017-08-30 02:08:50  49.789999  24.057499          2
244549          562556 2017-08-20 02:22:06  49.816110  24.023889          2
244562          562556 2017-08-20 02:21:49  49.816110  24.023889          2
244625          562556 2017-08-20 02:21:52  49.816110  24.023889          2
245376          562556 2017-08-20 02:22:06  49.816110  24.023889          2
251297          644876 2017-08-23 02:05:05  49.841943  24.001944          2
252980         2486451 2017-08-05 02:25:25  49.831110  24.044166          2
252999         2486451 2017-08-05 02:25:33  49.831110  24.044166          2
253097         2486451 2017-08-05 02:25:22  49.831110  24.044166          2
253162         2486451 2017-08-05 02:25:32  49.831110  24.044166          2
257789         2818202 2017-08-07 02:25:05  49.824721  23.960001          2
257876         2818202 2017-08-07 02:19:18  49.824721  23.960001          2
270846          822668 2017-08-12 02:35:07  49.823666  24.048027          2
282766         2508210 2017-08-15 02:07:33  49.867387  24.057777          2
292178         1606674 2017-07-22 02:11:04  49.797944  23.987222          2
294302         1942192 2017-07-21 02:47:15  49.834999  24.043888          2
...                ...                 ...        ...        ...        ...
9845527        2439052 2017-08-19 02:53:41  49.826943  23.984722          2
9848584         984866 2017-08-18 02:23:30  49.834999  24.043888          2
9855949        1198590 2017-08-26 02:14:17  49.851387  24.025555          2
9856241        1198590 2017-08-27 02:01:08  49.858332  24.019722          2
9856866        1198590 2017-08-27 02:07:41  49.828082  23.935694          2
9866721        1738068 2017-06-25 02:28:10  49.823610  24.015000          2
9866725        1738068 2017-06-25 02:21:39  49.808610  24.017222          2
9868191        1738068 2017-06-25 02:22:22  49.808610  24.017222          2
9871414         174643 2017-07-25 02:38:57  49.867498  24.028333          2
9875301         174643 2017-07-25 02:30:00  49.867498  24.028333          2
9878132         174643 2017-07-18 02:58:46  49.872832  24.040527          2
9880176        1738068 2017-07-11 02:10:28  49.808610  24.017222          2
9880427         272740 2017-07-13 02:01:42  49.901668  23.950556          2
9883465         174643 2017-08-12 02:41:57  49.786666  24.016111          2
9884110        1738068 2017-08-12 02:26:54  49.808610  24.017222          2
9884328         174643 2017-08-16 02:17:29  49.836110  24.077501          2
9886195        1738068 2017-08-12 02:31:30  49.816110  24.023889          2
9887360         174643 2017-08-12 02:13:59  49.837860  24.008806          2
9887966        1738068 2017-08-12 02:18:12  49.808610  24.017222          2
9978383         351667 2017-06-30 02:00:19  49.872832  24.040527          2
9978589         351667 2017-07-20 02:40:16  49.857221  23.982223          2
9978797         351667 2017-07-31 02:16:11  49.872832  24.040527          2
10062631       1632358 2017-08-14 02:18:32  49.828082  23.935694          2
10066645       1942192 2017-08-25 02:31:41  49.834999  24.043888          2
10071247       2575018 2017-06-28 02:57:42  49.808888  23.988889          2
10102506       1648964 2017-06-28 02:00:02  49.901668  23.950556          2
10104631       1648964 2017-06-29 02:44:20  49.901668  23.950556          2
10116768        557047 2017-07-30 02:07:51  49.816110  24.023889          2
10125434       2473347 2017-08-07 02:32:38  49.872470  24.087417          2
10141729       1864064 2017-08-29 02:48:00  49.839999  24.029722          2

[2266 rows x 5 columns]

In [99]:
cleared_n_3_4 = cleared_n[cleared_n["time_hour"] == 3]
cleared_n_3_4
cleared_n_3_4.hash_number_A.nunique()

244

In [100]:
cleared_n_3_4

         hash_number_A    event_start_date        LAT        LON  time_hour
12011           995776 2017-08-13 03:46:42  49.826943  23.984722          3
12012           995776 2017-08-13 03:47:44  49.821388  23.994167          3
101859          847402 2017-07-01 03:50:55  49.835832  24.001972          3
102061          847402 2017-07-18 03:43:30  49.834999  23.994445          3
102264          847402 2017-07-18 03:43:11  49.834999  23.994445          3
102265          847402 2017-07-18 03:42:57  49.834999  23.994445          3
141050          418337 2017-06-24 03:00:11  49.816110  24.023889          3
165198          822668 2017-07-11 03:07:38  49.823666  24.048027          3
253897         1201591 2017-08-05 03:04:34  49.874443  24.048333          3
278716          995776 2017-08-13 03:46:36  49.826943  23.984722          3
300365          996520 2017-08-03 03:01:49  49.794166  24.023889          3
300704          996520 2017-08-03 03:01:43  49.794166  24.023889          3
300746          996520 2017-08-03 03:01:47  49.794166  24.023889          3
300751          996520 2017-08-03 03:01:50  49.794166  24.023889          3
300942          996520 2017-08-03 03:01:51  49.794166  24.023889          3
301093          996520 2017-08-03 03:01:50  49.794166  24.023889          3
315665         2798136 2017-07-24 03:05:47  49.844721  23.967501          3
322759          847402 2017-07-18 03:42:54  49.834999  23.994445          3
343596         1881664 2017-07-01 03:01:20  49.810833  24.002778          3
350865         2640061 2017-07-30 03:29:38  49.856387  24.076390          3
351405         2640061 2017-07-30 03:29:39  49.856387  24.076390          3
394349          865068 2017-06-21 03:48:09  49.848110  24.026555          3
400308         1205827 2017-06-14 03:09:41  49.831666  23.997500          3
433282         1936604 2017-06-02 03:09:43  49.872470  24.087417          3
474256          408284 2017-08-09 03:33:13  49.840832  24.051944          3
544696         1060128 2017-06-07 03:42:04  49.832221  23.970834          3
561929          543485 2017-07-06 03:50:40  49.786666  24.016111          3
679106         2798136 2017-08-23 03:04:52  49.840832  24.038333          3
681561          847402 2017-07-01 03:15:16  49.869443  24.006667          3
683632          996520 2017-08-19 03:09:15  49.794166  24.023889          3
...                ...                 ...        ...        ...        ...
9855133         846613 2017-08-28 03:13:53  49.836943  24.022778          3
9856184         846613 2017-08-26 03:52:28  49.841665  24.026666          3
9856237        1198590 2017-08-27 03:37:27  49.836110  24.077501          3
9856239        1198590 2017-08-27 03:02:44  49.844443  24.040833          3
9856857         846613 2017-08-26 03:51:41  49.841665  24.026666          3
9871532         174643 2017-07-26 03:42:34  49.834999  23.994445          3
9872888         174643 2017-07-21 03:50:49  49.811388  23.973889          3
9876856         272740 2017-07-18 03:42:18  49.901668  23.950556          3
9878442        1738068 2017-07-12 03:36:42  49.808610  24.017222          3
9878608        1738068 2017-07-12 03:55:18  49.808610  24.017222          3
9878612        1738068 2017-07-12 03:24:26  49.823610  24.015000          3
9879540        1738068 2017-07-12 03:25:19  49.808610  24.017222          3
9881083        1738068 2017-07-12 03:47:12  49.808610  24.017222          3
9886930         174643 2017-08-16 03:24:56  49.811388  23.973889          3
9978400         351667 2017-08-05 03:02:23  49.872832  24.040527          3
10010338        948905 2017-07-13 03:38:56  49.834999  23.994445          3
10021760        996520 2017-07-30 03:06:36  49.794166  24.023889          3
10091201       2575018 2017-07-22 03:31:22  49.808888  23.988889          3
10103915       1648964 2017-06-28 03:14:16  49.901668  23.950556          3
10114352        557047 2017-07-30 03:24:29  49.816110  24.023889          3
10115580        557047 2017-07-30 03:40:39  49.816110  24.023889          3
10115949        557047 2017-07-30 03:47:53  49.816110  24.023889          3
10138046       1096968 2017-07-18 03:42:30  49.898057  24.091112          3
10141862       1864064 2017-08-29 03:11:58  49.838054  24.031666          3
10141863       1864064 2017-08-29 03:19:42  49.839999  24.029722          3
10151771        418337 2017-06-24 03:46:08  49.816110  24.023889          3
10152179        418337 2017-06-24 03:58:48  49.816110  24.023889          3
10152180        418337 2017-06-24 03:40:44  49.816110  24.023889          3
10152188        418337 2017-06-24 03:51:32  49.816110  24.023889          3
10152194        418337 2017-06-24 03:58:41  49.816110  24.023889          3

[2034 rows x 5 columns]

In [101]:
cleared_n_4_5 = cleared_n[cleared_n["time_hour"] == 4]
cleared_n_4_5
cleared_n_4_5.hash_number_A.nunique()

227

In [102]:
cleared_n_4_5

         hash_number_A    event_start_date        LAT        LON  time_hour
19763          2679641 2017-06-22 04:51:21  49.851387  24.025555          4
102241          847402 2017-07-01 04:37:16  49.841943  24.001944          4
287854         1160091 2017-07-30 04:59:17  49.823666  24.048027          4
307127         1141578 2017-07-26 04:29:51  49.898057  24.091112          4
313773         1205827 2017-07-25 04:26:38  49.831666  23.997500          4
329635         2456154 2017-07-16 04:14:36  49.818055  23.953890          4
383219         2754516 2017-06-26 04:02:26  49.786666  24.016111          4
678174          884024 2017-08-17 04:46:32  49.834999  24.043888          4
801528          867081 2017-06-05 04:36:05  49.795277  24.064999          4
802121         2623046 2017-07-16 04:40:28  49.808610  24.017222          4
803337          604313 2017-08-02 04:27:31  49.824443  23.970556          4
803647          604313 2017-08-02 04:26:19  49.824443  23.970556          4
805887          969480 2017-07-02 04:26:43  49.832305  24.037666          4
825953         1658661 2017-08-18 04:13:41  49.839999  24.029722          4
839670          969480 2017-07-02 04:25:10  49.824166  24.037222          4
840307         1946150 2017-08-05 04:23:16  49.813055  24.061666          4
975281          954012 2017-06-27 04:25:33  49.826943  23.984722          4
1180363        1193843 2017-07-13 04:37:05  49.857221  23.982223          4
1180367        1193843 2017-07-13 04:52:41  49.844221  24.024389          4
1180371        1193843 2017-07-13 04:30:59  49.854998  24.032778          4
1180372        1193843 2017-07-13 04:48:49  49.841943  24.001944          4
1247052         881274 2017-06-27 04:19:57  49.837860  24.008806          4
1338251        1087074 2017-07-23 04:52:33  49.775916  24.023611          4
1382776         612016 2017-08-01 04:29:48  49.839999  24.029722          4
1440076        1753017 2017-07-24 04:19:28  49.821221  23.977112          4
1440125        1753017 2017-07-23 04:18:13  49.821221  23.977112          4
1440418        1753017 2017-08-01 04:02:45  49.821221  23.977112          4
1557371         169243 2017-08-24 04:14:42  49.808610  24.017222          4
1573255        2798136 2017-08-02 04:18:56  49.802999  24.000194          4
1574396        2439052 2017-06-02 04:20:19  49.835304  24.008889          4
...                ...                 ...        ...        ...        ...
9878607        1738068 2017-07-12 04:55:43  49.816110  24.023889          4
9879539        1738068 2017-07-12 04:06:06  49.808610  24.017222          4
9881025        1738068 2017-07-12 04:41:08  49.808610  24.017222          4
9978798         351667 2017-08-05 04:15:36  49.872832  24.040527          4
9989396        1097798 2017-06-26 04:57:12  49.841943  24.001944          4
10010323        948905 2017-07-13 04:49:54  49.841943  24.001944          4
10015668        948905 2017-07-13 04:11:58  49.841943  24.001944          4
10045782       1840598 2017-08-07 04:48:56  49.893252  24.129750          4
10057058       1840598 2017-08-08 04:30:27  49.893252  24.129750          4
10057339       2591651 2017-08-06 04:03:25  49.829360  24.071084          4
10065695       1942192 2017-08-24 04:46:04  49.834999  24.043888          4
10067490       1942192 2017-08-25 04:07:28  49.834999  24.043888          4
10114617        557047 2017-07-30 04:23:43  49.816110  24.023889          4
10114619        557047 2017-07-30 04:05:34  49.816110  24.023889          4
10115578        557047 2017-07-30 04:09:11  49.816110  24.023889          4
10116136        557047 2017-07-30 04:43:18  49.816110  24.023889          4
10136174       1096968 2017-07-18 04:38:09  49.898057  24.091112          4
10141690       1864064 2017-08-29 04:22:23  49.823610  24.015000          4
10151664        418337 2017-06-24 04:45:24  49.816110  24.023889          4
10151702        418337 2017-06-24 04:01:13  49.816110  24.023889          4
10151773        418337 2017-06-24 04:06:03  49.816110  24.023889          4
10151774        418337 2017-06-24 04:45:15  49.816110  24.023889          4
10151918        418337 2017-06-24 04:51:27  49.816110  24.023889          4
10151920        418337 2017-06-24 04:51:21  49.816110  24.023889          4
10151921        418337 2017-06-24 04:09:15  49.816110  24.023889          4
10152181        418337 2017-06-24 04:01:07  49.816110  24.023889          4
10152186        418337 2017-06-24 04:09:24  49.816110  24.023889          4
10152191        418337 2017-06-24 04:49:37  49.816110  24.023889          4
10152192        418337 2017-06-24 04:42:55  49.816110  24.023889          4
10152193        418337 2017-06-24 04:05:56  49.816110  24.023889          4

[1873 rows x 5 columns]

In [103]:
cleared_n_5_6 = cleared_n[cleared_n["time_hour"] == 5]
cleared_n_5_6
cleared_n_5_6.hash_number_A.nunique()

276

In [104]:
cleared_n_5_6

         hash_number_A    event_start_date        LAT        LON  time_hour
15202          1132745 2017-06-02 05:58:30  49.823610  24.015000          5
15315          1132745 2017-06-06 05:59:04  49.835832  24.001972          5
15349          1132745 2017-06-12 05:51:36  49.835304  24.008889          5
51930          1174455 2017-06-13 05:49:59  49.808610  24.017222          5
125025         1020788 2017-06-28 05:32:22  49.810833  24.051944          5
125477         1020788 2017-06-21 05:29:44  49.810833  24.051944          5
125481         1020788 2017-06-14 05:30:32  49.810833  24.051944          5
156139          419452 2017-06-27 05:31:52  49.818055  23.953890          5
156141          419452 2017-06-27 05:31:46  49.818055  23.953890          5
164309          822668 2017-07-28 05:22:44  49.848110  24.026555          5
164320          822668 2017-06-16 05:14:32  49.851387  24.025555          5
164324          822668 2017-06-15 05:44:42  49.854998  24.032778          5
164717          822668 2017-07-28 05:44:47  49.851387  24.025555          5
164760          822668 2017-07-25 05:28:26  49.823666  24.048027          5
165374          822668 2017-07-28 05:52:14  49.848110  24.026555          5
165380          822668 2017-07-28 05:32:16  49.848110  24.026555          5
165750         1076443 2017-08-13 05:29:33  49.841943  24.001944          5
187884         1014988 2017-08-27 05:20:52  49.784972  24.060360          5
245515         2718509 2017-08-09 05:45:02  49.810833  24.051944          5
245930         2718509 2017-08-09 05:45:05  49.810833  24.051944          5
246046         2718509 2017-08-09 05:45:00  49.810833  24.051944          5
246217         2718509 2017-08-09 05:45:04  49.810833  24.051944          5
289046         2539992 2017-08-01 05:11:42  49.746945  24.013889          5
294617         2645620 2017-07-21 05:55:11  49.823610  24.015000          5
294629         2645620 2017-07-21 05:55:05  49.823610  24.015000          5
294665         2645620 2017-07-21 05:55:20  49.823610  24.015000          5
294718         2645620 2017-07-21 05:55:17  49.823610  24.015000          5
294849         2645620 2017-07-21 05:55:14  49.823610  24.015000          5
294876         2645620 2017-07-21 05:54:59  49.823610  24.015000          5
309320         1626985 2017-07-28 05:55:38  49.844721  23.967501          5
...                ...                 ...        ...        ...        ...
9843412        1020788 2017-08-16 05:43:18  49.866665  23.966945          5
9844729        1020788 2017-08-16 05:34:26  49.866665  23.966945          5
9849107        1020788 2017-08-18 05:02:51  49.866665  23.966945          5
9849368        2529663 2017-08-25 05:01:35  49.858332  24.019722          5
9851502        2473837 2017-08-25 05:09:03  49.841665  23.981667          5
9855796         846613 2017-08-27 05:53:42  49.841943  24.031666          5
9856557         846613 2017-08-27 05:57:06  49.841943  24.031666          5
9863993         174643 2017-07-22 05:41:11  49.834999  23.994445          5
9868971         174643 2017-07-22 05:31:10  49.837860  24.008806          5
9879538        1738068 2017-07-12 05:24:38  49.808610  24.017222          5
9884646        1738068 2017-08-13 05:32:07  49.808610  24.017222          5
9886498        1738068 2017-08-13 05:11:53  49.808610  24.017222          5
9887579        2718509 2017-08-15 05:59:48  49.810833  24.051944          5
10012751        948905 2017-07-13 05:47:40  49.841943  24.001944          5
10068559       1942192 2017-08-23 05:06:24  49.834999  24.043888          5
10073096       2575018 2017-07-08 05:17:39  49.808888  23.988889          5
10092688       2575018 2017-08-05 05:48:04  49.854221  24.045416          5
10102816       1648964 2017-06-29 05:42:00  49.901668  23.950556          5
10114610        557047 2017-07-30 05:10:25  49.808610  24.017222          5
10125433       2473347 2017-08-07 05:54:03  49.872470  24.087417          5
10142015        836537 2017-06-07 05:56:14  49.828082  23.935694          5
10151796        822668 2017-07-02 05:39:31  49.823666  24.048027          5
10151798        822668 2017-07-02 05:25:02  49.823666  24.048027          5
10151972        822668 2017-07-02 05:25:07  49.823666  24.048027          5
10151973        822668 2017-07-02 05:39:37  49.823666  24.048027          5
10152185        418337 2017-06-24 05:02:34  49.816110  24.023889          5
10152190        418337 2017-06-24 05:02:27  49.816110  24.023889          5
10159711       2563967 2017-07-04 05:59:57  49.814999  24.037777          5
10161346       2528132 2017-06-11 05:59:53  49.861110  24.051110          5
10161511       2528132 2017-06-11 05:59:46  49.861110  24.051110          5

[2180 rows x 5 columns]

In [105]:
cleared_n_6_7 = cleared_n[cleared_n["time_hour"] == 6]
cleared_n_6_7
cleared_n_6_7.hash_number_A.nunique()

388

In [106]:
cleared_n_6_7

         hash_number_A    event_start_date        LAT        LON  time_hour
11153          2794861 2017-06-28 06:23:11  49.836943  24.022778          6
11234          2490124 2017-08-31 06:16:08  49.872832  24.040527          6
15199          1132745 2017-06-16 06:31:35  49.823610  24.015000          6
15233          1132745 2017-06-23 06:58:57  49.835304  24.008889          6
15319          1132745 2017-06-16 06:30:18  49.835304  24.008889          6
15325          1132745 2017-06-17 06:01:45  49.823610  24.015000          6
15389          1132745 2017-06-23 06:56:34  49.835304  24.008889          6
15396          1132745 2017-06-23 06:29:53  49.835832  24.001972          6
58272          2798147 2017-07-25 06:49:02  49.812777  24.071390          6
96788           996133 2017-07-30 06:18:45  49.810833  24.002778          6
96877           996133 2017-08-15 06:41:59  49.808610  24.017222          6
96968           996133 2017-07-30 06:18:14  49.808610  24.017222          6
125030         1020788 2017-06-19 06:11:39  49.866665  23.966945          6
125032         1020788 2017-07-06 06:35:07  49.866665  23.966945          6
125047         1020788 2017-07-11 06:13:34  49.866665  23.966945          6
125050         1020788 2017-07-26 06:18:07  49.866665  23.966945          6
125052         1020788 2017-07-19 06:21:55  49.866665  23.966945          6
125053         1020788 2017-08-17 06:15:12  49.866665  23.966945          6
125079         1020788 2017-06-23 06:24:10  49.866665  23.966945          6
125084         1020788 2017-07-25 06:19:08  49.866665  23.966945          6
125134         1020788 2017-06-20 06:19:56  49.857221  23.982223          6
125144         1020788 2017-06-30 06:14:33  49.866665  23.966945          6
125146         1020788 2017-06-27 06:16:06  49.866665  23.966945          6
125151         1020788 2017-07-07 06:30:04  49.866665  23.966945          6
125162         1020788 2017-08-16 06:16:51  49.866665  23.966945          6
125251         1020788 2017-06-15 06:17:17  49.866665  23.966945          6
125261         1020788 2017-06-09 06:22:27  49.866665  23.966945          6
125262         1020788 2017-06-05 06:11:10  49.866665  23.966945          6
125266         1020788 2017-06-01 06:26:49  49.866665  23.966945          6
125274         1020788 2017-06-22 06:14:54  49.866665  23.966945          6
...                ...                 ...        ...        ...        ...
10166550       2476277 2017-08-13 06:02:41  49.772972  24.009333          6
10166733       2476277 2017-08-13 06:02:47  49.772972  24.009333          6
10166816       2476277 2017-08-13 06:03:50  49.772972  24.009333          6
10166821       2476277 2017-08-13 06:03:55  49.786666  24.016111          6
10166871       2476277 2017-08-13 06:04:01  49.786666  24.016111          6
10170373        984866 2017-08-15 06:03:56  49.841943  24.001944          6
10170390        984866 2017-08-15 06:03:59  49.841943  24.001944          6
10170484        984866 2017-08-15 06:06:10  49.834999  23.994445          6
10170485        984866 2017-08-15 06:02:42  49.841943  24.001944          6
10170492        984866 2017-08-15 06:02:48  49.841943  24.001944          6
10170599        984866 2017-08-15 06:05:09  49.841943  24.001944          6
10170600        984866 2017-08-15 06:03:51  49.841943  24.001944          6
10170612        984866 2017-08-15 06:05:52  49.834999  23.994445          6
10170801        984866 2017-08-15 06:04:04  49.841943  24.001944          6
10172274       2591651 2017-08-06 06:03:29  49.829360  24.071084          6
10172275       2591651 2017-08-06 06:00:35  49.829360  24.071084          6
10172360       2591651 2017-08-06 06:00:42  49.829360  24.071084          6
10172362       2591651 2017-08-06 06:02:14  49.829360  24.071084          6
10172366       2591651 2017-08-06 06:01:48  49.829360  24.071084          6
10172473       2591651 2017-08-06 06:03:20  49.829360  24.071084          6
10172474       2591651 2017-08-06 06:01:58  49.829360  24.071084          6
10172477       2591651 2017-08-06 06:02:06  49.829360  24.071084          6
10176423       1170998 2017-07-18 06:03:21  49.834999  23.994445          6
10176524       1170998 2017-07-18 06:03:15  49.834999  23.994445          6
10176528       1170998 2017-07-18 06:02:05  49.834999  23.994445          6
10176545       1170998 2017-07-18 06:04:40  49.834999  23.994445          6
10176671       1170998 2017-07-18 06:03:27  49.834999  23.994445          6
10176710       1170998 2017-07-18 06:03:33  49.834999  23.994445          6
10176711       1170998 2017-07-18 06:02:11  49.834999  23.994445          6
10176895       1170998 2017-07-18 06:04:35  49.834999  23.994445          6

[3425 rows x 5 columns]

In [107]:
import datetime as dt
cleared['weekday'] = cleared['event_start_date'].dt.dayofweek

In [108]:
cleared

,hash_number_A,event_start_date,LAT,LON,time_hour,weekday
180,2623046,2017-08-01 20:16:13,49.808610,24.017222,20,1
194,2480764,2017-08-10 15:21:56,49.797944,23.987222,15,3
210,2480764,2017-06-02 20:09:31,49.811777,23.990972,20,4
212,619074,2017-08-10 16:58:52,49.808610,24.017222,16,3
218,1077431,2017-07-29 23:11:58,49.835277,24.035277,23,5
220,272740,2017-06-07 14:17:32,49.844221,24.024389,14,2
246,2480764,2017-06-01 16:16:28,49.809444,23.997778,16,3
247,2480764,2017-06-11 20:19:34,49.811777,23.990972,20,6
282,653381,2017-07-01 19:30:33,49.808610,24.017222,19,5
285,2623046,2017-08-02 21:50:06,49.808610,24.017222,21,2
314,2480764,2017-06-02 20:08:51,49.802999,24.000194,20,4
315,2480764,2017-06-11 20:19:25,49.811777,23.990972,20,6
316,2480764,2017-08-10 19:16:15,49.802999,24.000194,19,3
317,2480764,2017-08-10 19:39:34,49.802999,24.000194,19,3
321,1737955,2017-07-18 13:10:30,49.818055,23.959167,13,1
385,653381,2017-07-01 18:53:03,49.808610,24.017222,18,5
391,653381,2017-07-01 20:16:45,49.808610,24.017222,20,5
393,2623046,2017-06-24 11:01:24,49.808610,24.017222,11,5
394,2623046,2017-08-21 21:38:02,49.808610,24.017222,21,0
452,2480764,2017-06-02 11:27:58,49.839999,24.029722,11,4
453,2480764,2017-06-02 09:16:04,49.809444,23.997778,9,4
455,2480764,2017-06-11 12:36:12,49.811777,23.990972,12,6
456,2480764,2017-06-11 15:01:12,49.811777,23.990972,15,6
457,2480764,2017-08-10 17:12:04,49.832305,24.037666,17,3
458,2480764,2017-08-10 19:13:17,49.802999,24.000194,19,3
460,619074,2017-08-10 16:58:57,49.808610,24.017222,16,3
488,1886984,2017-08-16 21:28:16,49.811388,23.973889,21,2
504,790959,2017-08-26 18:48:48,49.844221,24.024389,18,5
510,619074,2017-08-10 17:07:00,49.808610,24.017222,17,3
514,2439052,2017-06-01 13:00:12,49.830999,24.017028,13,3
...,...,...,...,...,...,...
10181155,1057589,2017-06-19 01:21:36,49.818055,23.959167,1,0
10181206,245313,2017-06-19 14:19:22,49.818055,23.959167,14,0
10181277,1057589,2017-06-19 01:21:36,49.818055,23.959167,1,0
10181279,1057589,2017-06-19 01:21:33,49.818055,23.959167,1,0
10181280,1057589,2017-06-19 01:21:39,49.818055,23.959167,1,0
10181281,1057589,2017-06-19 01:21:34,49.818055,23.959167,1,0
10181419,1057589,2017-06-19 01:21:39,49.818055,23.959167,1,0
10181422,1057589,2017-06-19 01:21:38,49.818055,23.959167,1,0
10181425,1057589,2017-06-19 01:21:34,49.818055,23.959167,1,0
10181427,1057589,2017-06-19 01:21:37,49.818055,23.959167,1,0
10181429,1057589,2017-06-19 01:21:35,49.818055,23.959167,1,0
10181431,1057589,2017-06-19 01:21:40,49.818055,23.959167,1,0
10181432,1057589,2017-06-19 01:21:38,49.818055,23.959167,1,0
10181433,1057589,2017-06-19 01:21:35,49.818055,23.959167,1,0
10181434,1057589,2017-06-19 01:21:34,49.818055,23.959167,1,0
10181439,245313,2017-06-19 14:19:20,49.818055,23.959167,14,0
10182659,1774614,2017-08-04 15:56:18,49.829360,24.071084,15,4
10182660,1774614,2017-08-04 15:56:14,49.829360,24.071084,15,4
10184279,996133,2017-08-17 13:08:15,49.808610,24.017222,13,3
10184294,996133,2017-08-17 13:08:16,49.808610,24.017222,13,3
10184295,996133,2017-08-17 13:08:15,49.808610,24.017222,13,3
10184361,1121196,2017-07-28 15:29:24,49.814999,24.037777,15,4
10184438,1121196,2017-07-11 14:48:41,49.814999,24.037777,14,1
10184439,1121196,2017-07-11 14:48:43,49.814999,24.037777,14,1
10184469,2478635,2017-08-19 00:54:18,49.834999,23.994445,0,5
10184470,2551054,2017-08-19 10:15:29,49.841665,23.981667,10,5
10184483,2551054,2017-08-19 10:15:30,49.841665,23.981667,10,5
10184495,2551054,2017-08-14 23:49:12,49.841665,23.981667,23,0
10184511,1121196,2017-07-11 14:48:38,49.814999,24.037777,14,1
10184564,1121196,2017-06-19 15:52:23,49.814999,24.037777,15,0

In [109]:
cleared_n = cleared[cleared["time_hour"] < 7]

In [110]:
cleared_n

,hash_number_A,event_start_date,LAT,LON,time_hour,weekday
1989,973296,2017-06-25 01:00:52,49.789999,24.057499,1,6
11153,2794861,2017-06-28 06:23:11,49.836943,24.022778,6,2
11234,2490124,2017-08-31 06:16:08,49.872832,24.040527,6,3
11349,1193945,2017-07-20 02:18:36,49.826943,23.984722,2,3
11388,2754516,2017-06-19 00:10:06,49.786666,24.016111,0,0
11460,2754516,2017-06-19 00:08:11,49.794166,24.023889,0,0
12011,995776,2017-08-13 03:46:42,49.826943,23.984722,3,6
12012,995776,2017-08-13 03:47:44,49.821388,23.994167,3,6
15142,1132745,2017-06-13 00:07:58,49.835304,24.008889,0,1
15199,1132745,2017-06-16 06:31:35,49.823610,24.015000,6,4
15202,1132745,2017-06-02 05:58:30,49.823610,24.015000,5,4
15233,1132745,2017-06-23 06:58:57,49.835304,24.008889,6,4
15315,1132745,2017-06-06 05:59:04,49.835832,24.001972,5,1
15316,1132745,2017-06-06 00:05:42,49.835304,24.008889,0,1
15319,1132745,2017-06-16 06:30:18,49.835304,24.008889,6,4
15325,1132745,2017-06-17 06:01:45,49.823610,24.015000,6,5
15332,1132745,2017-06-02 00:01:38,49.835832,24.001972,0,4
15349,1132745,2017-06-12 05:51:36,49.835304,24.008889,5,0
15351,1132745,2017-06-12 00:08:59,49.835304,24.008889,0,0
15389,1132745,2017-06-23 06:56:34,49.835304,24.008889,6,4
15396,1132745,2017-06-23 06:29:53,49.835832,24.001972,6,4
15408,1132745,2017-06-22 00:24:16,49.835304,24.008889,0,3
18936,636989,2017-08-19 01:56:05,49.774444,24.124445,1,5
19763,2679641,2017-06-22 04:51:21,49.851387,24.025555,4,3
38747,1867456,2017-08-06 00:29:02,49.834999,23.994445,0,6
51930,1174455,2017-06-13 05:49:59,49.808610,24.017222,5,1
58272,2798147,2017-07-25 06:49:02,49.812777,24.071390,6,1
58325,2571643,2017-08-20 00:08:20,49.834999,24.043888,0,6
62392,642679,2017-07-15 00:34:22,49.834999,23.994445,0,5
68199,814882,2017-07-23 00:45:20,49.836943,24.022778,0,6
...,...,...,...,...,...,...
10172275,2591651,2017-08-06 06:00:35,49.829360,24.071084,6,6
10172360,2591651,2017-08-06 06:00:42,49.829360,24.071084,6,6
10172362,2591651,2017-08-06 06:02:14,49.829360,24.071084,6,6
10172366,2591651,2017-08-06 06:01:48,49.829360,24.071084,6,6
10172473,2591651,2017-08-06 06:03:20,49.829360,24.071084,6,6
10172474,2591651,2017-08-06 06:01:58,49.829360,24.071084,6,6
10172477,2591651,2017-08-06 06:02:06,49.829360,24.071084,6,6
10176423,1170998,2017-07-18 06:03:21,49.834999,23.994445,6,1
10176524,1170998,2017-07-18 06:03:15,49.834999,23.994445,6,1
10176528,1170998,2017-07-18 06:02:05,49.834999,23.994445,6,1
10176545,1170998,2017-07-18 06:04:40,49.834999,23.994445,6,1
10176671,1170998,2017-07-18 06:03:27,49.834999,23.994445,6,1
10176710,1170998,2017-07-18 06:03:33,49.834999,23.994445,6,1
10176711,1170998,2017-07-18 06:02:11,49.834999,23.994445,6,1
10176895,1170998,2017-07-18 06:04:35,49.834999,23.994445,6,1
10181155,1057589,2017-06-19 01:21:36,49.818055,23.959167,1,0
10181277,1057589,2017-06-19 01:21:36,49.818055,23.959167,1,0
10181279,1057589,2017-06-19 01:21:33,49.818055,23.959167,1,0
10181280,1057589,2017-06-19 01:21:39,49.818055,23.959167,1,0
10181281,1057589,2017-06-19 01:21:34,49.818055,23.959167,1,0
10181419,1057589,2017-06-19 01:21:39,49.818055,23.959167,1,0
10181422,1057589,2017-06-19 01:21:38,49.818055,23.959167,1,0
10181425,1057589,2017-06-19 01:21:34,49.818055,23.959167,1,0
10181427,1057589,2017-06-19 01:21:37,49.818055,23.959167,1,0
10181429,1057589,2017-06-19 01:21:35,49.818055,23.959167,1,0
10181431,1057589,2017-06-19 01:21:40,49.818055,23.959167,1,0
10181432,1057589,2017-06-19 01:21:38,49.818055,23.959167,1,0
10181433,1057589,2017-06-19 01:21:35,49.818055,23.959167,1,0
10181434,1057589,2017-06-19 01:21:34,49.818055,23.959167,1,0
10184469,2478635,2017-08-19 00:54:18,49.834999,23.994445,0,5

In [111]:
cleared_rab = cleared_n[cleared_n["weekday"] < 6]

In [112]:
cleared_rab

,hash_number_A,event_start_date,LAT,LON,time_hour,weekday
11153,2794861,2017-06-28 06:23:11,49.836943,24.022778,6,2
11234,2490124,2017-08-31 06:16:08,49.872832,24.040527,6,3
11349,1193945,2017-07-20 02:18:36,49.826943,23.984722,2,3
11388,2754516,2017-06-19 00:10:06,49.786666,24.016111,0,0
11460,2754516,2017-06-19 00:08:11,49.794166,24.023889,0,0
15142,1132745,2017-06-13 00:07:58,49.835304,24.008889,0,1
15199,1132745,2017-06-16 06:31:35,49.823610,24.015000,6,4
15202,1132745,2017-06-02 05:58:30,49.823610,24.015000,5,4
15233,1132745,2017-06-23 06:58:57,49.835304,24.008889,6,4
15315,1132745,2017-06-06 05:59:04,49.835832,24.001972,5,1
15316,1132745,2017-06-06 00:05:42,49.835304,24.008889,0,1
15319,1132745,2017-06-16 06:30:18,49.835304,24.008889,6,4
15325,1132745,2017-06-17 06:01:45,49.823610,24.015000,6,5
15332,1132745,2017-06-02 00:01:38,49.835832,24.001972,0,4
15349,1132745,2017-06-12 05:51:36,49.835304,24.008889,5,0
15351,1132745,2017-06-12 00:08:59,49.835304,24.008889,0,0
15389,1132745,2017-06-23 06:56:34,49.835304,24.008889,6,4
15396,1132745,2017-06-23 06:29:53,49.835832,24.001972,6,4
15408,1132745,2017-06-22 00:24:16,49.835304,24.008889,0,3
18936,636989,2017-08-19 01:56:05,49.774444,24.124445,1,5
19763,2679641,2017-06-22 04:51:21,49.851387,24.025555,4,3
51930,1174455,2017-06-13 05:49:59,49.808610,24.017222,5,1
58272,2798147,2017-07-25 06:49:02,49.812777,24.071390,6,1
62392,642679,2017-07-15 00:34:22,49.834999,23.994445,0,5
88267,490377,2017-07-14 01:37:22,49.810833,24.051944,1,4
96877,996133,2017-08-15 06:41:59,49.808610,24.017222,6,1
101859,847402,2017-07-01 03:50:55,49.835832,24.001972,3,5
102024,847402,2017-06-09 00:48:34,49.841943,24.001944,0,4
102038,847402,2017-07-10 00:08:56,49.782750,24.072445,0,0
102047,847402,2017-07-11 00:32:48,49.841943,24.001944,0,1
...,...,...,...,...,...,...
10170484,984866,2017-08-15 06:06:10,49.834999,23.994445,6,1
10170485,984866,2017-08-15 06:02:42,49.841943,24.001944,6,1
10170492,984866,2017-08-15 06:02:48,49.841943,24.001944,6,1
10170599,984866,2017-08-15 06:05:09,49.841943,24.001944,6,1
10170600,984866,2017-08-15 06:03:51,49.841943,24.001944,6,1
10170612,984866,2017-08-15 06:05:52,49.834999,23.994445,6,1
10170801,984866,2017-08-15 06:04:04,49.841943,24.001944,6,1
10176423,1170998,2017-07-18 06:03:21,49.834999,23.994445,6,1
10176524,1170998,2017-07-18 06:03:15,49.834999,23.994445,6,1
10176528,1170998,2017-07-18 06:02:05,49.834999,23.994445,6,1
10176545,1170998,2017-07-18 06:04:40,49.834999,23.994445,6,1
10176671,1170998,2017-07-18 06:03:27,49.834999,23.994445,6,1
10176710,1170998,2017-07-18 06:03:33,49.834999,23.994445,6,1
10176711,1170998,2017-07-18 06:02:11,49.834999,23.994445,6,1
10176895,1170998,2017-07-18 06:04:35,49.834999,23.994445,6,1
10181155,1057589,2017-06-19 01:21:36,49.818055,23.959167,1,0
10181277,1057589,2017-06-19 01:21:36,49.818055,23.959167,1,0
10181279,1057589,2017-06-19 01:21:33,49.818055,23.959167,1,0
10181280,1057589,2017-06-19 01:21:39,49.818055,23.959167,1,0
10181281,1057589,2017-06-19 01:21:34,49.818055,23.959167,1,0
10181419,1057589,2017-06-19 01:21:39,49.818055,23.959167,1,0
10181422,1057589,2017-06-19 01:21:38,49.818055,23.959167,1,0
10181425,1057589,2017-06-19 01:21:34,49.818055,23.959167,1,0
10181427,1057589,2017-06-19 01:21:37,49.818055,23.959167,1,0
10181429,1057589,2017-06-19 01:21:35,49.818055,23.959167,1,0
10181431,1057589,2017-06-19 01:21:40,49.818055,23.959167,1,0
10181432,1057589,2017-06-19 01:21:38,49.818055,23.959167,1,0
10181433,1057589,2017-06-19 01:21:35,49.818055,23.959167,1,0
10181434,1057589,2017-06-19 01:21:34,49.818055,23.959167,1,0
10184469,2478635,2017-08-19 00:54:18,49.834999,23.994445,0,5

In [113]:
cleared_rab.hash_number_A.nunique()

670

In [114]:
cleared_rab = cleared_rab[cleared_rab["weekday"] > 0]

In [115]:
cleared_rab

,hash_number_A,event_start_date,LAT,LON,time_hour,weekday
11153,2794861,2017-06-28 06:23:11,49.836943,24.022778,6,2
11234,2490124,2017-08-31 06:16:08,49.872832,24.040527,6,3
11349,1193945,2017-07-20 02:18:36,49.826943,23.984722,2,3
15142,1132745,2017-06-13 00:07:58,49.835304,24.008889,0,1
15199,1132745,2017-06-16 06:31:35,49.823610,24.015000,6,4
15202,1132745,2017-06-02 05:58:30,49.823610,24.015000,5,4
15233,1132745,2017-06-23 06:58:57,49.835304,24.008889,6,4
15315,1132745,2017-06-06 05:59:04,49.835832,24.001972,5,1
15316,1132745,2017-06-06 00:05:42,49.835304,24.008889,0,1
15319,1132745,2017-06-16 06:30:18,49.835304,24.008889,6,4
15325,1132745,2017-06-17 06:01:45,49.823610,24.015000,6,5
15332,1132745,2017-06-02 00:01:38,49.835832,24.001972,0,4
15389,1132745,2017-06-23 06:56:34,49.835304,24.008889,6,4
15396,1132745,2017-06-23 06:29:53,49.835832,24.001972,6,4
15408,1132745,2017-06-22 00:24:16,49.835304,24.008889,0,3
18936,636989,2017-08-19 01:56:05,49.774444,24.124445,1,5
19763,2679641,2017-06-22 04:51:21,49.851387,24.025555,4,3
51930,1174455,2017-06-13 05:49:59,49.808610,24.017222,5,1
58272,2798147,2017-07-25 06:49:02,49.812777,24.071390,6,1
62392,642679,2017-07-15 00:34:22,49.834999,23.994445,0,5
88267,490377,2017-07-14 01:37:22,49.810833,24.051944,1,4
96877,996133,2017-08-15 06:41:59,49.808610,24.017222,6,1
101859,847402,2017-07-01 03:50:55,49.835832,24.001972,3,5
102024,847402,2017-06-09 00:48:34,49.841943,24.001944,0,4
102047,847402,2017-07-11 00:32:48,49.841943,24.001944,0,1
102061,847402,2017-07-18 03:43:30,49.834999,23.994445,3,1
102232,847402,2017-06-24 00:17:50,49.784972,24.060360,0,5
102239,847402,2017-07-11 00:31:23,49.841943,24.001944,0,1
102241,847402,2017-07-01 04:37:16,49.841943,24.001944,4,5
102264,847402,2017-07-18 03:43:11,49.834999,23.994445,3,1
...,...,...,...,...,...,...
10152872,822668,2017-08-02 00:51:34,49.823666,24.048027,0,2
10154051,1984025,2017-07-08 00:14:21,49.824166,24.037222,0,5
10154054,1984025,2017-07-08 00:14:26,49.824166,24.037222,0,5
10154299,1984025,2017-07-08 00:14:24,49.824166,24.037222,0,5
10159378,2563967,2017-07-04 06:01:39,49.814999,24.037777,6,1
10159498,2563967,2017-07-04 06:00:05,49.814999,24.037777,6,1
10159534,2563967,2017-07-04 06:01:12,49.814999,24.037777,6,1
10159536,2563967,2017-07-04 06:01:30,49.814999,24.037777,6,1
10159637,2563967,2017-07-04 06:02:55,49.814999,24.037777,6,1
10159639,2563967,2017-07-04 06:01:22,49.814999,24.037777,6,1
10159708,2563967,2017-07-04 06:02:46,49.814999,24.037777,6,1
10159711,2563967,2017-07-04 05:59:57,49.814999,24.037777,5,1
10170373,984866,2017-08-15 06:03:56,49.841943,24.001944,6,1
10170390,984866,2017-08-15 06:03:59,49.841943,24.001944,6,1
10170484,984866,2017-08-15 06:06:10,49.834999,23.994445,6,1
10170485,984866,2017-08-15 06:02:42,49.841943,24.001944,6,1
10170492,984866,2017-08-15 06:02:48,49.841943,24.001944,6,1
10170599,984866,2017-08-15 06:05:09,49.841943,24.001944,6,1
10170600,984866,2017-08-15 06:03:51,49.841943,24.001944,6,1
10170612,984866,2017-08-15 06:05:52,49.834999,23.994445,6,1
10170801,984866,2017-08-15 06:04:04,49.841943,24.001944,6,1
10176423,1170998,2017-07-18 06:03:21,49.834999,23.994445,6,1
10176524,1170998,2017-07-18 06:03:15,49.834999,23.994445,6,1
10176528,1170998,2017-07-18 06:02:05,49.834999,23.994445,6,1
10176545,1170998,2017-07-18 06:04:40,49.834999,23.994445,6,1
10176671,1170998,2017-07-18 06:03:27,49.834999,23.994445,6,1
10176710,1170998,2017-07-18 06:03:33,49.834999,23.994445,6,1
10176711,1170998,2017-07-18 06:02:11,49.834999,23.994445,6,1
10176895,1170998,2017-07-18 06:04:35,49.834999,23.994445,6,1
10184469,2478635,2017-08-19 00:54:18,49.834999,23.994445,0,5

In [116]:
cleared_rab.hash_number_A.nunique()

627

In [117]:
cleared_rab = cleared_n[cleared_n["weekday"] < 5]

In [118]:
cleared_rab = cleared_rab[cleared_rab["weekday"] >0]

In [119]:
cleared_rab

,hash_number_A,event_start_date,LAT,LON,time_hour,weekday
11153,2794861,2017-06-28 06:23:11,49.836943,24.022778,6,2
11234,2490124,2017-08-31 06:16:08,49.872832,24.040527,6,3
11349,1193945,2017-07-20 02:18:36,49.826943,23.984722,2,3
15142,1132745,2017-06-13 00:07:58,49.835304,24.008889,0,1
15199,1132745,2017-06-16 06:31:35,49.823610,24.015000,6,4
15202,1132745,2017-06-02 05:58:30,49.823610,24.015000,5,4
15233,1132745,2017-06-23 06:58:57,49.835304,24.008889,6,4
15315,1132745,2017-06-06 05:59:04,49.835832,24.001972,5,1
15316,1132745,2017-06-06 00:05:42,49.835304,24.008889,0,1
15319,1132745,2017-06-16 06:30:18,49.835304,24.008889,6,4
15332,1132745,2017-06-02 00:01:38,49.835832,24.001972,0,4
15389,1132745,2017-06-23 06:56:34,49.835304,24.008889,6,4
15396,1132745,2017-06-23 06:29:53,49.835832,24.001972,6,4
15408,1132745,2017-06-22 00:24:16,49.835304,24.008889,0,3
19763,2679641,2017-06-22 04:51:21,49.851387,24.025555,4,3
51930,1174455,2017-06-13 05:49:59,49.808610,24.017222,5,1
58272,2798147,2017-07-25 06:49:02,49.812777,24.071390,6,1
88267,490377,2017-07-14 01:37:22,49.810833,24.051944,1,4
96877,996133,2017-08-15 06:41:59,49.808610,24.017222,6,1
102024,847402,2017-06-09 00:48:34,49.841943,24.001944,0,4
102047,847402,2017-07-11 00:32:48,49.841943,24.001944,0,1
102061,847402,2017-07-18 03:43:30,49.834999,23.994445,3,1
102239,847402,2017-07-11 00:31:23,49.841943,24.001944,0,1
102264,847402,2017-07-18 03:43:11,49.834999,23.994445,3,1
102265,847402,2017-07-18 03:42:57,49.834999,23.994445,3,1
106414,2439052,2017-08-04 00:20:23,49.826943,23.984722,0,4
125025,1020788,2017-06-28 05:32:22,49.810833,24.051944,5,2
125032,1020788,2017-07-06 06:35:07,49.866665,23.966945,6,3
125047,1020788,2017-07-11 06:13:34,49.866665,23.966945,6,1
125050,1020788,2017-07-26 06:18:07,49.866665,23.966945,6,2
...,...,...,...,...,...,...
10142015,836537,2017-06-07 05:56:14,49.828082,23.935694,5,2
10151750,822668,2017-06-27 06:40:12,49.823666,24.048027,6,1
10152098,822668,2017-06-27 06:40:26,49.823666,24.048027,6,1
10152596,822668,2017-08-02 00:51:50,49.823666,24.048027,0,2
10152872,822668,2017-08-02 00:51:34,49.823666,24.048027,0,2
10159378,2563967,2017-07-04 06:01:39,49.814999,24.037777,6,1
10159498,2563967,2017-07-04 06:00:05,49.814999,24.037777,6,1
10159534,2563967,2017-07-04 06:01:12,49.814999,24.037777,6,1
10159536,2563967,2017-07-04 06:01:30,49.814999,24.037777,6,1
10159637,2563967,2017-07-04 06:02:55,49.814999,24.037777,6,1
10159639,2563967,2017-07-04 06:01:22,49.814999,24.037777,6,1
10159708,2563967,2017-07-04 06:02:46,49.814999,24.037777,6,1
10159711,2563967,2017-07-04 05:59:57,49.814999,24.037777,5,1
10170373,984866,2017-08-15 06:03:56,49.841943,24.001944,6,1
10170390,984866,2017-08-15 06:03:59,49.841943,24.001944,6,1
10170484,984866,2017-08-15 06:06:10,49.834999,23.994445,6,1
10170485,984866,2017-08-15 06:02:42,49.841943,24.001944,6,1
10170492,984866,2017-08-15 06:02:48,49.841943,24.001944,6,1
10170599,984866,2017-08-15 06:05:09,49.841943,24.001944,6,1
10170600,984866,2017-08-15 06:03:51,49.841943,24.001944,6,1
10170612,984866,2017-08-15 06:05:52,49.834999,23.994445,6,1
10170801,984866,2017-08-15 06:04:04,49.841943,24.001944,6,1
10176423,1170998,2017-07-18 06:03:21,49.834999,23.994445,6,1
10176524,1170998,2017-07-18 06:03:15,49.834999,23.994445,6,1
10176528,1170998,2017-07-18 06:02:05,49.834999,23.994445,6,1
10176545,1170998,2017-07-18 06:04:40,49.834999,23.994445,6,1
10176671,1170998,2017-07-18 06:03:27,49.834999,23.994445,6,1
10176710,1170998,2017-07-18 06:03:33,49.834999,23.994445,6,1
10176711,1170998,2017-07-18 06:02:11,49.834999,23.994445,6,1
10176895,1170998,2017-07-18 06:04:35,49.834999,23.994445,6,1

In [120]:
cleared_rab.hash_number_A.nunique()

567